[submodule "modulo-2/python/residencia-tic18-python"]
	path = modulo-2/python/residencia-tic18-python
	url = https://github.com/danssampaio/residencia-tic18-python.git
[submodule "modulo-2/dotnet/residencia-tic18-dotnet"]
	path = modulo-2/dotnet/residencia-tic18-dotnet
	url = https://github.com/danssampaio/residencia-tic18-dotnet.git
[submodule "modulo-2/java/residencia-tic18-java"]
	path = modulo-2/java/residencia-tic18-java
	url = https://github.com/danssampaio/residencia-tic18-java.git
[submodule "modulo-2/frontend/residencia-tic18-web"]
	path = modulo-2/frontend/residencia-tic18-web
	url = https://github.com/danssampaio/residencia-tic18-web.git
[submodule "modulo-3/frontend/residencia-tic18-web"]
	path = modulo-3/frontend/residencia-tic18-web
	url = https://github.com/danssampaio/residencia-tic18-web.git
[submodule "modulo-3/java/residencia-tic18-java"]
	path = modulo-3/java/residencia-tic18-java
	url = https://github.com/danssampaio/residencia-tic18-java.git
[submodule "modulo-4/front-avancado/fea-p006"]
	path = modulo-4/front-avancado/fea-p006
	url = https://github.com/residencia18/240039-joao-vitor-nascimento-ramos/tree/a06ef131468a48b13309aebbcc6420d2a1db737c/front-avancado/FEA_06
