[submodule "modulo-2/python/residencia-tic18-python"]
	path = modulo-2/python/residencia-tic18-python
	url = https://github.com/danssampaio/residencia-tic18-python.git
[submodule "modulo-2/dotnet/residencia-tic18-dotnet"]
	path = modulo-2/dotnet/residencia-tic18-dotnet
	url = https://github.com/danssampaio/residencia-tic18-dotnet.git
[submodule "modulo-2/java/residencia-tic18-java"]
	path = modulo-2/java/residencia-tic18-java
	url = https://github.com/danssampaio/residencia-tic18-java.git
[submodule "modulo-2/frontend/residencia-tic18-web"]
	path = modulo-2/frontend/residencia-tic18-web
	url = https://github.com/danssampaio/residencia-tic18-web.git
[submodule "modulo-3/frontend/residencia-tic18-web"]
	path = modulo-3/frontend/residencia-tic18-web
	url = https://github.com/danssampaio/residencia-tic18-web.git
[submodule "modulo-3/java/residencia-tic18-java"]
	path = modulo-3/java/residencia-tic18-java
	url = https://github.com/danssampaio/residencia-tic18-java.git